<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSCaaS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <SSCaaS.My.MySettings>
            <setting name="TargetUri" serializeAs="String">
                <value>https://replaceme</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>sandstorm</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>replaceme</value>
            </setting>
            <setting name="MinInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="IntervalVariance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumReps" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>20</value>
            </setting>
        </SSCaaS.My.MySettings>
    </applicationSettings>
</configuration>